#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment for debhelper verbose output.
# export DH_VERBOSE=1

export SKIP_PYTHON_TESTS=1

%:
	dh $@ --with=autoreconf

.PHONY: override_dh_auto_configure
override_dh_auto_configure:
	dh_auto_configure -- --enable-python2 --enable-python3 CFLAGS="-g"

.PHONY: override_dh_install
override_dh_install:
	dh_install --fail-missing -X.la -X/pyqcow.a

.PHONY: override_dh_strip
override_dh_strip:
ifeq (,$(filter nostrip,$(DEB_BUILD_OPTIONS)))
	dh_strip -plibqcow --dbg-package=libqcow-dbg
	dh_strip -plibqcow-tools --dbg-package=libqcow-tools-dbg
	dh_strip -plibqcow-python --dbg-package=libqcow-python-dbg
	dh_strip -plibqcow-python3 --dbg-package=libqcow-python3-dbg
endif

